@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row ;
    flex-wrap: wrap;
}

.im {
    font-family: 'Kavoon', cursive;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}

.text {
    max-width: 440px;
    line-height: 47px;
}

.butto {
    background-color: rgb(243, 154, 121);
    padding: 17px;
    width: 270px;
    border-radius: 50px;
    border: 0;
    font-family: 'Kavoon', cursive;
    color: white;
    font-size: 30px;
    gap: 20px;
}

.im button:hover {
    background-color: rgb(131, 63, 15);
}